*{
    margin: 0;
    left: 0;
    top: 0;
}
.nav{
    margin: 0;
    padding: 10px;
    background-color: rgb(57, 45, 57);
    width: 100%;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
li{
    margin-left: 100px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
.nav-items{
    text-decoration: none;
    color: white;
    /* background-color: rgb(255, 0, 0); */
}